useDynLib(spAbundance, .registration=TRUE)

export(simNMix)
export(simAbund)
export(simMsAbund)
export(simDS)
export(NMix)
export(spNMix)
export(abund)
export(spAbund)
export(msAbund)
export(sfMsAbund)
export(DS)
export(waicAbund)
export(ppcAbund)

S3method("predict", "NMix")
S3method("print", "NMix")
S3method("fitted", "NMix")
S3method("summary", "NMix")

S3method("summary", "ppcAbund")

S3method("predict", "spNMix")
S3method("print", "spNMix")
S3method("fitted", "spNMix")
S3method("summary", "spNMix")

S3method("predict", "abund")
S3method("print", "abund")
S3method("fitted", "abund")
S3method("summary", "abund")

S3method("predict", "spAbund")
S3method("print", "spAbund")
S3method("fitted", "spAbund")
S3method("summary", "spAbund")

S3method("predict", "msAbund")
S3method("print", "msAbund")
S3method("fitted", "msAbund")
S3method("summary", "msAbund")

# S3method("predict", "sfMsAbund")
S3method("print", "sfMsAbund")
S3method("fitted", "sfMsAbund")
S3method("summary", "sfMsAbund")

# S3method("predict", "DS")
S3method("print", "DS")
# S3method("fitted", "DS")
S3method("summary", "DS")

importFrom("stats", "dist", "dnbinom", "rbinom", "rnorm", "rnbinom", "rpois", "coefficients", "glm", "is.empty.model", "model.matrix", "model.response", "terms", "runif", "quantile", "dbinom", "var", "rgamma", "sd", "integrate", "rmultinom")
importFrom("coda", "mcmc", "gelman.diag", "mcmc.list", "effectiveSize")
importFrom("abind", "abind")
importFrom("RANN", "nn2")
importFrom("lme4", "findbars", "mkReTrms", "nobars")
importFrom("foreach", "foreach", "%do%", "%dopar%")
importFrom("doParallel", "registerDoParallel", "stopImplicitCluster")
importFrom("methods", "is")
